.container {
    display: flex;
    flex-direction: column;

    padding: 1.5rem;

    height: 20rem;
    background-color: black;
    color: aliceblue;

    .vision {
        display: flex;
        justify-content: center;
    }

    .links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        color: aqua;

        z-index: 5;
    }
}