.container {
  margin-top: 5rem;

  .header {
    position: fixed;
  }

  .imageBanner {
    display: block;
  }

  .main {
    min-height: 100vh;
    padding: 5rem 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
  
    .welcome {
      color: #661111;
      margin: 0;
      line-height: 1.15;
      font-size: 2.2rem;
      }

    p {
      padding: 0.5rem 2rem;
      font-size: 1.1rem;
      font-weight: bold;
      color: blanchedalmond;
    }
  }

  .grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .card {
    display: flex;
    flex-direction: row;
    margin: 1rem .75rem;
    padding: 1.5rem 1rem;
    text-align: left;
    border-radius: 10px;
    border: 1px solid #eaeaea;
    
    .cardContent {
      margin: 0.2rem;
      padding: 1rem;

      max-width: 50%;

      color: blanchedalmond;
    }

    h2 {
      margin: 0 0 1rem 0;
      font-size: 1.5rem;
    }

    p {
      margin: 0;
      font-size: 1.25rem;
      line-height: 1.5;
    }
  }

  @media (max-width: 612px) {
    .card {
      width: 100%;
      flex-direction: column;
    }
  }
}
