.dropdownAction {
  position: fixed;
  top: 1vh;
  left: 50%;
  z-index: 1000;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;  

  height: 100vh;
  width: 100%;

  background-color: black;

  padding: 2rem 0;

  position: fixed;
  top: -100vh;
  left: 0;

  z-index: 1000;

  transition: ease-in-out 2s;

  span {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    
    color: var(--primary-color);
  }
}

.menu.menuOpen {
  top: 0;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
  }
  
  .main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .description {
    line-height: 1.5;
    font-size: 1.5rem;
  }

  .logo {
    height: 1em;
    margin-left: 0.5rem;
  }
  
  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
}